---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'
import PostPreview from '@/components/blog/PostPreview.astro'

import { Image } from 'astro:assets'
import astro from '../assets/maverick_photo.jpg'

import { getAllPosts, sortMDByDate } from '@/utils'

const frontend = ['HTML/ CSS', 'JavaScript/ TypeScript', 'React', 'Next.js', 'Astro', 'Bootstrap', 'Mantine']
const backend = ['SQL/ SQLAlchemy', 'Flask', 'SocketIO', 'RESTful API']
const languages = ['C/ C++', 'Python', 'C#']
const networking = ['TCP/ IP', 'Routing']
const others = ['DaVinci Resolve']

const drumming = ['Rockschool Grade 7 Distinction']
const cycling = ['Polygon Xtrada 6 2021 2x11', '120km', 'Bukit Timah MTB Trail Double Diamond']
const setup = ['Intel 12400F', 'Nvidia 3060Ti', 'Arctic Liquid Freezer II 240', 'Dell G2724D', 'Asus VG27WQ1B', 'Monsgeek M3', 'Endgame Gear XM2WE', 'Artisan Hayate Otsu SOFT', 'Audient iD4 MKII', 'Beyerdynamic DT770 Pro', 'Behringer XM8500']

const MAX_POSTS = 10
const allPosts = await getAllPosts()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<Image
				src={astro}
				alt='profile photo'
				class='h-28 w-auto rounded-full bg-[#FFBE98] p-1'
				loading='eager'
			/>

			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>Maverick Chin</h1>
				<a
					href='/portfolio/Maverick_Resume.pdf'
					target='_blank'
					class='flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
				>
					<span class='relative flex items-center justify-center'>
						<span
							class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
						></span>
						<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
					</span>

					<p class='font-medium'>View Resume</p>
				</a>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Singapore'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
							></path></svg
						>
					</Label>
					<Label
						title='mavcyh@gmail.com'
						as='a'
						href='mailto:mavcyh@gmail.com'
						target='_blank'
					>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5" slot="icon">
							<path
							  	fill="currentColor"
							  	d="M2 6q0-.825.588-1.413Q3.175 4 4 4h16q.825 0 1.413.588Q22 5.175 22 6v12q0 .825-.587 1.413Q20.825 20 20 20H4q-.825 0-1.413-.587Q2 18.825 2 18zm2-.025V18h16V5.975l-8 5Zm1.3-1h15.4L12 10.65Z"
							></path>
						</svg>						  
					</Label>
					<Label
						title='Connect on Linkedin'
						as='a'
						href='https://www.linkedin.com/in/mavcyh'
						target='_blank'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
							><path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path></svg
						>
					</Label>
					<Label
						title='View GitHub'
						as='a'
						href='https://github.com/mavcyh'
						target='_blank'
					>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5" slot="icon">
						<path
							fill="currentColor"
						  	d="M12 2C6.477 2 2 6.477 2 12c0 4.418 2.865 8.167 6.839 9.491c.5.092.682-.217.682-.482v-1.69c-2.782.603-3.369-1.342-3.369-1.342c-.454-1.153-1.11-1.46-1.11-1.46c-.907-.62.068-.607.068-.607c1.003.07 1.531 1.031 1.531 1.031c.892 1.529 2.341 1.088 2.91.832c.092-.647.35-1.088.636-1.338c-2.22-.253-4.555-1.11-4.555-4.937c0-1.09.39-1.981 1.03-2.678c-.104-.253-.447-1.27.098-2.646c0 0 .84-.269 2.75 1.023c.798-.222 1.653-.333 2.503-.337c.85.004 1.705.115 2.503.337c1.91-1.292 2.75-1.023 2.75-1.023c.545 1.376.202 2.393.098 2.646c.64.697 1.03 1.588 1.03 2.678c0 3.837-2.337 4.682-4.563 4.93c.36.309.678.92.678 1.854v2.749c0 .269.18.58.688.48C19.135 20.165 22 16.417 22 12c0-5.523-4.477-10-10-10z"
						></path>
					</svg>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				I am an electronics and computer engineering graduate passionate about embedded systems, IoT, and open-source development.
				Skilled in programming, hardware design, and full-stack integration,
				I thrive on solving complex problems and staying at the forefront of technology.
			</p>
		</Section>

		<Section title='Highlight Projects'>
			<div class='flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='/portfolio/projects/soundspace'
					heading='SoundSpace: Automated Rental Music Studio System'
					subheading='An IoT-based system that aims to reduce operational costs while enhancing service quality for users.'
					imagePath='/src/assets/generic_music_studio.jpg'
					altText='SoundSpace Logo'
					class='w-full sm:w-1/2'
				/>
				<ProjectCard
					href='/portfolio/projects/wings-of-sustainability'
					heading='Wings of Sustainability: Smart Black Soldier Fly Farm'
					subheading='An innovative solution to sustainably feed a growing population.'
					imagePath='/src/assets/black_soldier_fly_and_hand.jpg'
					altText='SoundSpace Logo'
					class='w-full sm:w-1/2'
				/>
			</div>
		</Section>

		{
			allPostsByDate.length > 0 && (
				<Section title='Recent projects'>
					<ul class='flex flex-col gap-y-2'>
						{allPostsByDate.map((p) => (
							<li class='flex flex-col gap-x-2 sm:flex-row'>
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</Section>
			)
		}

		<Section title='Experience'>
			<Card
				heading='Micron Technology'
				subheading='Firmware Engineer Intern'
				date='Jun 2025 - Aug 2025'
				imagePath='/src/assets/micron_logo.png'
				altText='Micron Technology Logo'
				imageClass='h-auto w-12 md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						Designed and implemented Python-based test scripts to validate new SSD firmware features, ensuring alignment with product requirements.
					</li>
					<li>
						Conducted white-box and grey-box testing to thoroughly assess firmware functionality and performance throughout the development process.
					</li>
					<li>
						Investigated and triaged firmware failures, collaborating with development teams to debug and resolve critical issues, enhancing overall firmware stability and reliability.
					</li>
					
				</ul>
			</Card>
			<Card
				heading='WorldSkills Singapore (Electronics)'
				subheading='Trainee and Competitor, Silver Medal'
				date='Mar 2024 - May 2025'
				imagePath='/src/assets/wss_logo.png'
				altText='WorldSkills Singapore Logo'
				imageClass='h-12 w-auto md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<p class="relative right-4 pt-1 font-bold">Embedded Systems Programming</span>
					<li>
						Gained hands-on experience with STM32 MCUs and professional-grade hardware design, reflecting industry standards.
					</li>
					<li>
						Quickly and accurately analysed component datasheets to integrate them appropriately.
					</li>
					<li>Thoroughly studied and utilised common interface standards:</li>
					UART/USART, SPI, I2C, USB
					<li>Proficient in using common MCU features and peripherals:</li>
					GPIO, NVIC/EXTI, RCC, DMA, Low Power modes, ADC, COMP, DAC, TIM/LPTIM, PWM
					
					<p class="relative right-4 pt-1 font-bold">Hardware Design Prototyping</p>
					<li>
						Designed industry-standard analogue and digital circuits involving ICs and microcontrollers.
					</li>
					<li>
						Simulated circuits to identify and eliminate performance issues and errors.
					</li>
					<li>
						Schematic capture; PCB routing; 3D PCB visualisation to enhance design accuracy for precise fits to enclosures.
					</li>
					
					
					<p class="relative right-4 pt-1 font-bold">Fault Finding and Repair</p>
					<li>
						Diagnosed faults in analogue and digital circuits using multimeters, oscilloscopes and logic analysers.
					</li>
					<li>
						Performed soldering and rework to IPC standards (IPC-A-610D, IPC-7711/21A).
					</li>
				</ul>
			</Card>
		</Section>

		<Section title='Education'>
			<Card
				heading='Nanyang Polytechnic'
				subheading='Diploma in Electronic & Computer Engineering: GPA 3.99'
				date='Apr 2023 - May 2026'
				imagePath='/src/assets/nyp_logo.png'
				altText='Nanyang Polytechnic Logo'
				imageClass='h-auto w-12 md:-left-16'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
						NYP-SICK Product Center Asia Scholarship

						<li>Awarded Director's List every semester</li>
					</li>
				</ul>
			</Card>
			<Card
				heading='Catholic High School (Secondary)'
				subheading='GCE O-Level: L1R5 7, L1R4 5'
				date='Dec 2022 - Nov 2023'
				imagePath='/src/assets/chs_logo.png'
				altText='Catholic High School Logo'
				imageClass='h-12 w-auto md:-left-16'
			/>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Front-end' skills={frontend} />
			<SkillLayout title='Back-end' skills={backend} />
			<SkillLayout title='Networking' skills={networking} />
			<SkillLayout title='Others' skills={others} />
		</Section>

		<Section title='Hobbies/ Passions'>
			<SkillLayout title='Drumming' skills={drumming} />
			<SkillLayout title='Cycling' skills={cycling} />
			<SkillLayout title='My setup!' skills={setup} />
		</Section>
	</div>
</PageLayout>
